
@{
    ViewBag.Title = "GenerateBarcode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using (Html.BeginForm("GenerateBarcode", "Barcode", FormMethod.Post))
    {
        <input type="text" name="barcode" />
        <input type="submit" value="Generate Barcode" />

    }
    <hr />

    @if (ViewBag.BarcodeImage != null)
    {
        <img src="@ViewBag.BarcodeImage" alt="" />
    }
</body>
</html>
